<div class="form-container">
  <h2>Log New Training Session</h2>

  <form [formGroup]="trainingForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Type:</label>
      <select formControlName="trainingType">
        <option value="">Select training type</option> 
        <option *ngFor="let type of trainingTypes" [value]="type">{{ type }}</option> 
      </select> 
      <small *ngIf="f.trainingType.touched && f.trainingType.hasError('required')">
        Please select a training type.
      </small>
    </div>

    <div>
      <label>Date</label>
      <input
        type="datetime-local"
        formControlName="date"
        [attr.max]="maxDateTime"
      />
      <small *ngIf="f.date.touched && f.date.hasError('required')">Date is required.</small>
      <small *ngIf="f.date.touched && f.date.hasError('futureDate')">Date cannot be in the future.</small>
    </div>

    <div>
      <label>Duration (min):</label>
      <input type="number" step="1" min="1" formControlName="duration">
      <small *ngIf="f.duration.invalid && f.duration.touched">
        Duration is invalid.
      </small>
    </div>

    <div>
      <label>Calories burned:</label>
      <input type="number" formControlName="caloriesBurned">
      <small *ngIf="f.caloriesBurned.invalid && f.caloriesBurned.touched">
        Calories burned input is invalid.
      </small>
    </div>

    <div>
      <label>Intensity (1-10):</label>
      <input type="range" min="1" max="10" formControlName="intensityLevel">
      <span>{{ f.intensityLevel.value }}</span>
    </div>

    <div>
      <label>Fatigue (1-10):</label>
      <input type="range" min="1" max="10" formControlName="tirednessLevel">
      <span>{{ f.tirednessLevel.value }}</span>
    </div>

    <div>
      <label>Notes: (max 300 characters)</label>
      <textarea formControlName="notes" rows="4" placeholder="How did the training go?"></textarea>
      <small *ngIf="f.notes.errors?.['maxlength'] && f.notes.touched">
        Notes cannot exceed 300 characters.
      </small>
    </div>

    <button type="submit" [disabled]="trainingForm.invalid">Save Training</button>
  </form>
</div>